<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <style>
        .container {
            max-width: 120px;
        }
        .section-header {
            margin-bottom: 30px;
        }
        .form-container, .details-container {
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2 class="text-primary">Registration and View Details</h2>
        </div>
        <div class="row">
            <!-- Form Section -->
            <div class="col-md-offset-6 col-md-6">
                <form action="/updateData/{{data.id}}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <h3 class="text-primary text-center mb-4">Registration</h3>
                    <div class="form-group mb-3">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" value="{{data.Name}}" name="name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="age">Age</label>
                        <input type="text" id="age" class="form-control" value="{{data.Age}}" name="age">
                    </div>
                    <div class="form-group mb-3">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" value="{{data.Address}}" name="address">
                    </div>
                    <div class="form-group mb-3">
                        <label for="contact">Contact</label>
                        <input type="text" id="contact" class="form-control" value="{{data.Contact}}" name="contact">
                    </div>
                    <div class="form-group mb-4">
                        <label for="mail">Mail</label>
                        <input type="text" id="mail" class="form-control" value="{{data.Mail}}" name="mail">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary btn-block">
                    </div>
                </form>
            </div>
            
            </div>
        </div><!-- View Details Section -->
       
</body>
</html>
